<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>orpxre.fpbgg@tznvy.pbz</string>
	<key>contactName</key>
	<string>Scott Becker</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>GithubTheme</string>
	<key>uuid</key>
	<string>437AF09F-7591-4652-A9AF-F1579C66B160</string>
</dict>
</plist>
